body {
  font-family: 'Arial', sans-serif;
    background-color: rgb(207, 206, 206);;   
}

.icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.icon-item {
  text-align: center;
  margin: 10px;
}


.project-card {
  background-color: rgb(234, 232, 232); /* Set your desired grey color */
}


 #education{
  background-color: rgb(207, 206, 206) !important;
 }

#interests{
  background-color:rgb(207, 206, 206) !important;
} 

/* Hero Section Specific Styles */


#hero {
  position: relative;
  z-index: 2;
  background-color: black; /* Example background color, adjust as needed */
  color: whitesmoke;
}

#hero img {
  width: 200px; /* Adjust width as needed */
  height: 250px; /* Adjust height as needed */
  z-index: 2;
}

/* Custom Styles for Particles.js Background */
#particles-js {
position: absolute; /* Positions particles.js background absolutely */
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1; /* Ensures it is below the hero content */
pointer-events: none; /* Allows clicking through the canvas */
}

/* Ensuring the canvas fills the container */
.particles-js-canvas-el {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
}

/* Footer Styles */
footer {
  background-color: #343a40;
  color: #ffffff;
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Black color for carousel navigation buttons */
.carousel-control-prev, .carousel-control-next {
  color: #000000; /* Set to black or your desired color */
}

/* Change the color of the navigation button icons */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%); /* Invert the color of the icon */
}

.project-box {
  border: 2px solid #333; /* Border style and color */
  padding: 20px; /* Padding inside the project box */
  margin-bottom: 20px; /* Margin between project boxes */
  cursor: pointer; /* Change cursor to pointer on hover for clickability */
  transition: border-color 0.3s ease; /* Smooth transition for border color */
}

.project-box:hover {
  border-color: #007bff; /* Change border color on hover */
}